{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
<div id="registro" class="col-lg-4 mx-auto mb-5 mt-5">
    
    <h1 class="display-4">Login</h1><br>

    <form method="POST" id="formulario">
        {% csrf_token %}

        <div class="form-group">
            <label for="username">Nombre de Usuario</label><br>
            <input name="username" class="form-control" type="text"/>
            <div class="bg-danger mt-1">{{ form.errors.username }}</div>
        </div>

        <div class="form-group">
            <label for="password">Password</label><br>
            <input name="password" class="form-control" type="password"/>
            <div class="bg-danger mt-1">{{ form.errors.password }}</div>
        </div>

        {% if form.non_field_errors %}
        <div class="form-group">
            <div class="bg-danger mt-1 p-2">Login incorrecto!</div>
        </div>  
        {% endif %}
        
        <!-- {{form.non_field_errors}} -->                

        <div class="form-row align-items-center">

            <div class="col-auto mr-auto">
                <input class="btn btn-success" type="submit" value="Login"/>
            </div>

            <div class="col-auto form-inline">
                <span style="font-size: 32px; color: Dodgerblue;">
                    <i class="fab fa-facebook"></i>
                </span>
                <a href="{% url 'social:begin' 'facebook' %}" class="ml-2 mr-3">Facebook Login</a>

                <span style="font-size: 32px; color: firebrick;">
                    <i class="fab fa-google"></i>
                </span>
                <a href="{% url 'social:begin' 'google-oauth2' %}" class="ml-2">Google Login</a>
            </div>
        </div>
        
    </form>
    <br><br><br>
</div>
{% endblock %}