{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
{% if user.is_authenticated %}
<div id="home">
<div class="col-8 p-0 pt-2">
  <h1>Bienvenido {{ user.get_full_name }}! Ya estas registrado!</h1>
  <br><br><br><br><br><br><br>
</div>

{% else %}
<div id="registro" class="col-lg-4 mx-auto mb-5 mt-5">
    
    <h1 class="display-4">Registro</h1><br>

    <form method="POST" id="formulario">
        {% csrf_token %}

        <div class="form-group">
            <label for="username">Nombre de Usuario</label><br>
            <input name="username" class="form-control" type="text"/>
            <div class="bg-danger mt-1">{{ form.errors.username }}</div>
        </div>

        <div class="form-group">
            <label for="email">Email</label><br>
            <input name="email" class="form-control" type="text"/>
            <div class="bg-danger mt-1">{{ form.errors.username }}</div>
        </div>

        <div class="form-group">
            <label for="password1">Contraseña</label><br>
            <input name="password1" class="form-control" type="password"/>
            <div class="bg-danger mt-1">{{ form.errors.password1 }}</div>
        </div>

        <div class="form-group">
            <label for="password2">Repetir Contraseña</label><br>
            <input name="password2" class="form-control" type="password"/>
            <div class="bg-danger mt-1">{{ form.errors.password2 }}</div>
        </div>

        <div class="form-group">
            <input class="btn btn-success" type="submit" value="Registrarse"/>
        </div>

{% endif %}
{% endblock %}