{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}Ingreso de Productos{% endblock %}

{% block content %}
<h1>Productos</h1>
<div class="col-lg-4 p-0">
<form method="post">    
    {% csrf_token %}
    <!-- {{ form.as_p }} -->
    {% for field in form %}
    <div class="form-group">
        <label for="{{ field.name}}">{{ field.label_tag }}</label><br>            
        {{ field }}
        <div class="bg-danger mt-1">{{ field.errors }}</div>
    </div>
    {% endfor %}
    
    <div class="bg-danger mt-1 mb-2">{{ form.non_field_errors }}</div>

    <input type="submit" class="btn btn-success" value="Guardar" />
    <a class="ml-2" href="{% url 'productos:producto_list' %}">cancelar</a>
    <p class="text-muted">* Se debe esperar a que un administrador acepte la tienda, hasta entonces solo se podra usar la nueva tienda de manera personal.</p>
    {% if object %}
        <p>¿Tu tienda no esta en la lista? <a href="{% url 'tiendas:tiendas_form' %}?next=productos&id={{object.id}}">Agregar tienda</a></p>
    {% else %}
        <p>¿Tu tienda no esta en la lista? <a href="{% url 'tiendas:tiendas_form' %}?next=productos">Agregar tienda</a></p>
    {% endif %}
</form>
{{next}}
</div>
{% endblock %}
