{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}

<h3 class="display-3">Productos</h3>
<hr>
<a class="btn btn-secondary" role="button" href="{% url 'productos:producto_form' %}">Agregar</a>
<hr>

<div class="col-md-8 p-0">
{% if not productos %}

<p class="bg-danger p-2">No ha ingresado productos a la lista</p>
<br><br><br><br><br><br><br>

{% else %}
<div class="table-responsive">
    <table class="table table-hover">
        <thead class="thead-light bg-primary">

            <tr>
                <td>Nombre</td>
                <td>Costo Presupuestado</td>
                <td>Costo Real</td>
                <td>Tienda</td>
                <td>Estado</td>
                <td>Notas</td>
                <td>Acciones</td>            
            </tr>

        </thead>
        <tbody>
            {% for producto in productos %}
            <tr>
                <td>{{ producto.nombre }}</td>
                <td>${{ producto.costoPresupuestado }}</td>
                <td>${{ producto.costoReal | default_if_none:"0" }}</td>
                <td>{{ producto.tienda }}</td>
                <td>{{ producto.estado }}</td>
                <td>{{ producto.notas | default_if_none:"" }}</td>
                <td>
                    <a class="btn btn-sm btn-primary" href="{% url 'productos:producto_update' producto.id %}" title="Editar"><i class="fas fa-edit"></i></a>
                    <a class="btn btn-sm btn-danger" href="{% url 'productos:producto_delete' producto.id %}" title="Eliminar"><i class="fas fa-trash"></i></a>
                </td>
            </tr>
            {% endfor %}
        </tbody>

    </table>
</div>
{% endif %}

</div>

{% endblock %}